body {
    background-color: #f9f5fc !important;
}
.btn-brawta-purple {
    background-color: #3c1053 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
.btn-brawta-pink {
    background-color: #fd51c3 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
.card-header{
    font-size:1.4rem !important;
    background-color: #3c1053 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
.col-md-12 > .card {
    background-color: #f9f5fc !important;
}
.nav-link {
    display: block;
    font-size: 1.2rem;
    color: #3c1053 !important;
    font-weight: 500;
}
